body{
    height: 100vh;
}
.outer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid{
    position: relative;
    right: 50px;
}

.bot{
    position:relative;
    bottom: 100px;
    left: 25px;
}
/**MR50 BB100L25**/